@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="col-lg-7 mt-5">General Directorate of Region Taxes and Real Estate</h1>
<div class="col-lg-7 d-flex flex-column">
    <p class="lead mt-2">Welcome @Model.FirstName @Model.LastName!</p>
    <div class="bg-dark rounded py-3 px-4 mt-4">
        <h2 class="font-weight-bold mt-3 text-warning">Your total tax is:</h2>
        <p class="font-weight-bold text-light" style="font-size: 64px">@Model.TotalTax.ToString("N0") IQD</p>
    </div>
</div>

<h3>Taxable Properties</h3>

<h4 class="my-4">Vehicles</h4>

<table class="table col-lg-7 mt-3">
    <thead class="bg-dark">
        <tr>   
            <th scope="col" class="text-light">Model</th>
            <th scope="col" class="text-light">License Plate</th>
            <th scope="col" class="text-light">Color</th>
            <th scope="col" class="text-light">Type</th>
        </tr>
    </thead>
    <tbody>


@foreach (var vehicle in Model.Vehicles)
    {

        <tr>
            <td>@vehicle.Model</td>
            <td>@vehicle.LicensePlate</td>
            <td>@vehicle.Color</td>
            <td>@vehicle.Type</td>
        </tr>

    }

       
      
    </tbody>
</table>

